.buttons {
    cursor: pointer;
}

.button {
    margin-left: 3px;
}

.icon {
    width: 50px;
    height: 100%;
}

.card {
    width: 300px;
    display: inline-block;
    margin: 10px;
}

.card-header {
    cursor: pointer;
}