<div class="card">
    <header class="card-header" (click)="onShow()" [style.background]="questionColor">
        <p class="card-header-title" [style.color]="textColor">
            {{data.question}}
        </p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>

    <div *ngIf="data.show">
        <div class="card-content">
            <div class="content">
                {{data.answer}}
            </div>
        </div>
        <footer class="card-footer">
            <div class="buttons">
                <button class="button is-success" (click)="onRight()">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                </button>
                <button class="button is-danger is-outlined" (click)="onWrong()">
                    <span class="icon">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <button class="button" (click)="onEdit()">
                    <span class="icon">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                </button>

                <button class="button is-primary" (click)="onDelete()">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </button>
            </div>
        </footer>

    </div>
</div>

<!-- <div class="card-root"> -->


<!-- <div class="question" (click)="onShow()" [style.background]="questionColor">
        <div class="question-content" [style.color]="textColor">{{data.question}}</div>
        <span class="icon drop-list-icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
    </div> -->

<!-- <div *ngIf="data.show">
        <div class="card-content">
            <div class="content">
                {{data.answer}}
            </div>
        </div>
        <footer class="card-footer">
            <p class="buttons">
                <button class="button is-success" (click)="onRight()">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                </button>
                <button class="button is-danger is-outlined" (click)="onWrong()">
                    <span class="icon">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <button class="button" (click)="onEdit()">
                    <span class="icon">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                </button>

                <button class="button is-primary" (click)="onDelete()">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                </button>
            </p>
        </footer>

    </div>
</div>
</div> -->